<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Capacitive Reactance Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find the reactance value for a given frequency.">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            <h1>Capacitive Reactance Calculator</h1>
            <p>Find the reactance value for a given frequency.</p>
            <div class="homebutton">
                <a href="/">Home</a>
            </div>
       </header>
        <main>
        <div class="container">
        <form id="mainform" action="cresults" method="post" name="inputForm">
            <div class="input">
                <div class="reac_cap_in">
                    <label for="capacitance" class="label">Capacitance</label>
                    <input required id="capacitance" name="capacitance" type="number" min="0" step="0.1" max="1000">
                    <select id="suffixcapacitance" name="suffixcapacitance" class="dropdown">
                        <option disabled value="mF">mF</option>
                        <option value="uF">uF</option>
                        <option value="nF">nF</option>
                        <option value="pF" selected="selected">pF</option>
                    </select>
                </div>
                
                <div>
                    <label for="Frequency" class="label">Frequency (kHz)</label>
                    <input id="frequency" name="frequency" type="number" min="300" max="30000"> 
                </div>     
                <div>
                    <input type="submit" value="Submit" id="submit"></button>
                </div>     
            </fieldset>
            
        </div>
        
        </form>
        <div class="textbox">
            <p>{{capacitance}}</p>
            <p>{{frequency}}</p>                 
            <p>{{message}}</p>
        </div>

        </div>
        </main>
    </body>
</html>