<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Capacitive Reactance Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find the reactance value for a given frequency.">
        <link rel="stylesheet" href="{{url_for('static', filename='css/mk2.css')}}">
    </head>
    <body>
        <header>
            <h1>Capacitive Reactance Calculator</h1>
            <p>Find the reactance value for a given frequency.</p>
            <div class="homebutton">
                <a href="/">Home</a>
            </div>
       </header>
        <main class="container">
                <div class="inputform">
            <form id="mainform" action="cresults" method="post" name="inputForm">
                <div class="input">
                    <div class="reac_cap_in">
                        <label for="capacitance" class="label" id="caplabel">Capacitance</label>
                        <input required id="capacitance" name="capacitance" type="number" min="1" step="1" max="9999">
                        <div id="filler"></div>
                        <select id="suffixcapacitance" name="suffixcapacitance" class="dropdown">
                            <option disabled value="mF">mF</option>
                            <option value="uF">uF</option>
                            <option value="nF">nF</option>
                            <option value="pF" selected="selected">pF</option>
                        </select>
                    </div>
                    
                        <div>
                            <label for="Frequency" class="label">Frequency (kHz)</label>
                            <input required id="frequency" name="frequency" type="number" min="150" max="30000" maxlength="6"> 
                        </div>     
                    <div id="submitbutton">
                        <input type="submit" value="Submit" class="submit"></button>
                    </div>     
                </fieldset>
                </form>    
                </div>
                </div>
                <div class="textbox" style="display: {{status}};">
                <p>{{capacitance}}</p>
                <p>{{frequency}}</p>                 
                <p>{{message}}</p>
                </div>
            </div>
        </main>
        

    </body>
</html>