<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Resistor Values</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find the reactance value for a given frequency.">
        <link rel="stylesheet" href="{{url_for('static', filename='css/resist.css')}}">
        <script src="{{url_for('static', filename='resistor.js')}}"></script>
    </head>
    <body>
        <header>
            <h1>Resistor Values</h1>
            <p>Click colored bands to change resistor value.</p>
            <div class="homebutton">
                <a href="/">Home</a>
            </div>
       </header>
    <main>
        <div class="container">
            <div id="menu-container" class="menu-container">
            <div id="left-wire" class="wire"></div>
            <div id="left-end"></div>
            <div id="first-band" class="color-band" onclick="firstClicker()" style="background-color: brown;"></div>
            <div id="first-gap" class="gap"></div>
            <div id="second-band" class="color-band" onclick="secondClicker()" style="background-color: black;"></div>
            <div id="second-gap" class="gap"></div>
            <div id="third-band" class="color-band" onclick="thirdClicker()" style="background-color: black;"></div>
            <div id="wide-gap"></div>
            <div id="fourth-band" class="color-band" onclick="fourthClicker()" style="background-color: gold;"></div>
            <div id="right-end"></div>
            <div id="right-wire" class="wire"></div>
            </div>
            <div class="values-output">
                <h2 id="resistance-total" class="text-output">10Ω</h2>
                <h2 id="tolerance-total" class="text-output">±5%</h2>
            </div>
            </div>
        <div class="container">
            <div id="4menu-container" class="menu-container">
            <div id="4left-wire" class="wire"></div>
            <div id="four-left-end"></div>
            <div id="four-first-band" class="four-color-band" onclick="firstClickerFour()" style="background-color: brown;"></div>
            <div id="4first-gap" class="fourgap"></div>
            <div id="four-second-band" class="four-color-band" onclick="secondClickerFour()" style="background-color: black;"></div>
            <div id="4second-gap" class="fourgap"></div>
            <div id="four-third-band" class="four-color-band" onclick="thirdClickerFour()" style="background-color: black;"></div>
            <div id="4third-gap" class="fourgap"></div>
            <div id="four-fourth-band" class="four-color-band" onclick="fourthClickerFour()" style="background-color: silver;"></div>
            <div id="four-wide-gap"></div>
            <div id="four-fifth-band" class="four-color-band" onclick="fifthClickerFour()" style="background-color: gold;"></div>
            <div id="four-right-end"></div>
            <div id="4right-wire" class="wire"></div>
            </div>
            <div class="values-output">
                <h2 id="four-resistance-total" class="text-output">1Ω</h2>
                <h2 id="four-tolerance-total" class="text-output">±5%</h2>
            </div>
            </div>
        </div>
    </main>
    </body>
</html>